.list {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item {
  width: 500px;
  height: 50px;
  background-color: rgb(13, 85, 85);
  margin: 10px;
  line-height: 50px;
  color: aliceblue;
  border: 1px solid #ccc;
}

.list-item.moving {
  background: transparent;
  color: transparent;
  border: 1px dashed #ccc;
}